## Lambda Functions

## Introduction
Lambda functions are also called **anonymous functions**. What this means is that they are functions *without* a name. Lambda functions are typically short expressions. They can take multiple arguments but unlike functions, they can only have one expression.

### Defining a Lambda Function
For the most part, any lambda expression can also be written as a function (but not vice versa). When writing a lambda, we typically use the syntax of declaring a lambda and then listing the inputs of the lambda followed by a colon and then the expression.

Let's look at an example of a lambda function and an equivalent function in Python below.

In [ ]:
# Here we have a function that returns the same result as the lambda function
def square_function(x):
    return x * x

In [ ]:
square_function(5)

Let us know look at the lambda-equivalent of that.

In [ ]:
# General form: lambda [argument] : [operation]
square = lambda x: x*x

square(5)

It will be very useful afterwards combined with applied function; since it allows you to use a function to all the numbers of a given pandas column

We can also pass multiple arguments to our lambda function.

In [ ]:
# General form: lambda [argument_1], [argument_2] : [operation]
summarize = lambda a, b: a+b

summarize(5,2)

### If Statements in Lambda Functions
If statements have a slightly different syntax in a lambda expression. Below is an example of a lambda expression that computes the fraction of two numbers unless the denominator is zero.

In [ ]:
cond_add = lambda x,y : x+y  if x >10 else False

In [ ]:
cond_add(2,3)

In [ ]:
cond_add(12,124)

In [ ]:
div = lambda num, denom: num/denom if (denom!=0) else 0

In [ ]:
div(5,0)

As we can see in the lambda functions above, we specify the if **after** we specify the action. We also **do not use colons** in the if statement.

### Lambdas in the Return Statement of a Function
We can use lambda expressions **to return a function from a function.** Here is an example:

In [ ]:
def addition(x):
    return lambda y: x+y

In [ ]:
addi_fun = addition(x=9)
print(addi_fun)

In [ ]:
addi_fun(y=33)

In [ ]:
addi_fun = addition(12)

In [ ]:
addi_fun(12)

In [ ]:
def generate_range(lower):
    return lambda upper: range(lower, upper)

custome_ragnge=generate_range(lower=0)
custom_range(upper=10)

In [ ]:
custom_range=generate_range(lower=0) 
custom_range(upper=10)

In [ ]:
[x for x in custom_range(upper=10)]

In [ ]:
def generate_range(lower):
    return lambda upper: [x for x in range(lower,upper)]

In [ ]:
custom_range=generate_range(lower=0) 
custom_range(upper=10)

It gets a bit tricky here but basically we are saving the generate_range function with a parameter set on lower (0) into an object named "custom_range". Then we call this and just assign the missing parameter to be defined

In these examples it does not make much sense, I would instead do this

In [1]:
ironbest = lambda lower, upper: [x for x in range(lower, upper)]

In [2]:
ironbest(0,5)

[0, 1, 2, 3, 4]

In [3]:
print(ironbest)

<function <lambda> at 0x7f9f09beef70>

In [6]:
iron=ironbest(0,5)

### Lambdas in List Comprehensions
Lambdas are great when we want to generate a list in a quick and concise manner. We can apply the lambda expression to every element in the list and generate a new list.

Here is an example of generating the squares of all numbers 1 through 10. We generate the numbers using the range function and square them using a lambda expression.

In [12]:
square = lambda x: x*x

squared = [square(x) for x in range(0,10)]
print(squared)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Instead of first assigning the lambda function to a variable, we can also immediately integrate it into the list comprehension.

In [10]:
squared = [x**2 for x in range(0,10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

**Important**: The code we just saw does the same as the following code:

In [14]:
squared = [(lambda x: x*x)(x)for x in range(1,10)]

print(squared)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

We can also use lambda functions to transform existing lists. Here we replace a dash with a space in a list of school subjects.

In [16]:
school_dash = ['Calculus', 'Philosophy', 'Art-History', 'Computer-Science']

In [17]:
last = lambda x: x[-1]
last("Art history")

'y'

In [18]:
last(school_dash)

'Computer-Science'

### Lambdas as Arguments in Functions
Lambda functions really shine as arguments in functions. One example is sorting. Typically, we only sort using the default options in Python. However, we can define our own custom sorting lambda expression and pass that as an argument to the sorting function.

In the example below we will sort by the last letter of the school subject. We will first create a lambda function that returns the last letter of the string and then sort using this function as a sorting key.

In [21]:
school_space = ['Calculus', 'Philosophy', 'Art History', 'Computer Science']

In [23]:
sorted(school_space, key=last)

['Computer Science', 'Calculus', 'Philosophy', 'Art History']

In [24]:
sorted("this is a test string from pablo".split(), key=str.lower)

['a', 'from', 'is', 'pablo', 'string', 'test', 'this']

In [25]:
sorted("this is a test string from pablo".split())

['a', 'from', 'is', 'pablo', 'string', 'test', 'this']

As we can see, we sorted by the last letter of each string. Recommendation: use lower so the capped words don't go before the non capped ones.

### Bonus, lambda + apply on dataframes

In [26]:
import pandas as pd

In [27]:
operations = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Sam','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}
df = pd.DataFrame(operations)
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG      Sam    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [29]:
df[['Sales']].apply(lambda x: x*x)

    Sales
0   40000
1   14400
2  115600
3   15376
4   59049
5  122500

In [32]:
df[['Sales']] = df[['Sales']].apply(lambda x: x*x)
df

  Company   Person        Sales
0    GOOG      Sam   1600000000
1    GOOG      Sam    207360000
2    MSFT      Amy  13363360000
3    MSFT  Vanessa    236421376
4      FB     Carl   3486784401
5      FB    Sarah  15006250000

### Advantages and Disadvantages of Lambda Functions
Lambda functions have several advantages but also some disadvantages.


**Advantages:**

- Lambda functions are **concise** since they only contain one expression.
- Lambda can be passed around **without a variable** (hence why they are considered anonymous).
- Lambda functions **return automatically** (no need for return statements).
- You can define them **on the fly.**

**Disadvantages:**

- Sometimes lambda functions can **over-complicate** things. In those cases it would be better to use a regular function instead. 
- They use a **different syntax** (for example, if statements have different syntax in lambda functions).

## Summary 

In this lesson we have learned about the different uses of lambda functions. They can be replaced by regular functions. However, sometimes there is an advantage to passing around a single concise expression. A unique use for lambda functions is as arguments to functions. While they are simple and concise, we should be careful not to overuse them. If our expression is even a bit complex, it would be better to use a function and separate the code into multiple lines.